.view-more__spacer {
  padding-right: 2rem;
}

.view-more {
  --min-width: 780px;
  --padding: clamp(2rem, 2vh, 4rem);

  display: flex;
  flex-direction: column;
  padding: var(--padding);
  min-width: var(--min-width);

  border-left: 2px solid var(--color-black);
}

.view-more__cat {
  display: inline-block;
  margin-left: 0.25rem;

  font-style: italic;
}

.view-more__content {
  --columns: repeat(2, 340px);

  display: grid;
  flex: 0 1 auto;
  gap: 2rem;
  grid-template-columns: var(--columns);
  padding: 1rem 0;

  overflow-y: auto;
  overflow-x: hidden;
}

.view-more__header {
  margin-bottom: 1rem;

  border-bottom: 1px solid var(--color-black);
}

.view-more__images {
  align-items: stretch;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.view-more__image {
  --image-height: clamp(5vh, 260px, 28vh);
  height: var(--image-height);
  width: 100%;

  object-fit: cover;
}

.view-more__link {
  color: var(--color-black);
  text-decoration: none;
}

body[data-vertical-scroll] {
  @media (max-width: 1023px) {
    .view-more {
      display: block;

      margin-top: 3.5rem;
      padding: 1rem;
      min-width: 0;

      border-left: none;
      border-top: 2px solid var(--color-black);
    }

    .view-more__content {
      --columns: repeat(1, 1fr);

      gap: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .view-more__spacer {
    padding-right: 4rem;
  }

  .view-more {
    --min-width: 1002px;
  }

  .view-more__content {
    --columns: repeat(2, minmax(420px, 1fr));
  }
}
