@font-face {
  font-family: 'FreightBig Pro';
  src: url('fonts/freight/FreightBigProLight-Regular.eot');
  src: url('fonts/freight/FreightBigProLight-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/freight/FreightBigProLight-Regular.woff2') format('woff2'),
    url('fonts/freight/FreightBigProLight-Regular.woff') format('woff'),
    url('fonts/freight/FreightBigProLight-Regular.ttf') format('truetype'),
    url('fonts/freight/FreightBigProLight-Regular.svg#FreightBigProLight-Regular')
      format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreightBig Pro';
  src: url('fonts/freight/FreightBigProLight-Italic.eot');
  src: url('fonts/freight/FreightBigProLight-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/freight/FreightBigProLight-Italic.woff2') format('woff2'),
    url('fonts/freight/FreightBigProLight-Italic.woff') format('woff'),
    url('fonts/freight/FreightBigProLight-Italic.ttf') format('truetype'),
    url('fonts/freight/FreightBigProLight-Italic.svg#FreightBigProLight-Italic')
      format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg Roman';
  src: url('fonts/ogg/Ogg-Roman.woff2') format('woff2'),
    url('fonts/ogg/Ogg-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ogg Roman';
  src: url('fonts/ogg/Ogg-Italic.woff2') format('woff2'),
    url('fonts/ogg/Ogg-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('fonts/founders/FoundersGrotesk-Medium.woff2') format('woff2'),
    url('fonts/founders/FoundersGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('fonts/founders/FoundersGrotesk-Regular.woff2') format('woff2'),
    url('fonts/founders/FoundersGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('fonts/founders/FoundersGrotesk-Light.woff2') format('woff2'),
    url('fonts/founders/FoundersGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

.ff-founders {
  font-family: var(--wp--preset--font-family--founders-grotesk);
}
.ff-freight {
  font-family: var(--wp--preset--font-family--freightbig-pro);
}
.ff-ogg {
  font-family: var(--wp--preset--font-family--ogg-roman);
}
