.gallery {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.gallery-wrapper {
  display: grid;
  gap: 3rem;
  padding: 3rem 1rem;

  background-color: #faf8f5;
}

@media (min-width: 1024px) {
  .gallery {
    padding-right: 6rem;
  }

  .gallery-wrapper {
    grid-template-columns: auto 1fr;
    padding: 12rem 0 0 0;
  }
}
