.lightbox-image-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.lightbox-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
