.preview__images {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(2, 1fr);
}

.preview__image-wrapper {
  position: relative;

  margin: 0;
  padding-top: 100%;
}

.preview__image {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;

  object-fit: cover;
}

.preview__image--black-and-white {
  filter: grayscale(100%);
}

.preview__link {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2px;

  transition: box-shadow 0.2s ease-in-out;
}

.preview__link:is(:hover, :focus) {
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
}

.preview__title {
  color: var(--color-gray-darkest);
  font-family: var(--font-headings);
  font-size: var(--h5);
  line-height: 1;
  text-transform: uppercase;
}

.previews {
  --gap: 2rem;
  --grid: 1fr;
  --padding: 0;

  display: grid;
  gap: var(--gap);
  grid-template-columns: var(--grid);

  padding: var(--padding);
}

@media (min-width: 1024px) {
  .previews {
    --gap: 4rem;
    --grid: repeat(2, 1fr);
    --padding: 3.25rem 0;
  }
}
