.site-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 90rem;

  margin-inline: auto;
}

body.home {
  height: 100%;
}

body.home .site-inner {
  display: block;

  max-width: none;
}
