@mixin styleOne {
  .preview__full {
    left: 8vw;
  }
  .preview__thumb {
    left: 69vw;
    top: 36.29vh;
  }
  .preview__title {
    left: 56.5625vw;
    top: 5vh;
  }
  .preview__see {
    right: 13vw;
    top: 62vh;
  }
}

@mixin styleTwo {
  .preview__full {
    left: 25vw;
  }
  .preview__thumb {
    left: 73vw;
    top: 13vh;
  }
  .preview__title {
    left: 15vw;
    top: 52vh;
  }
  .preview__see {
    right: 13vw;
    top: 62vh;
  }
}

@mixin styleThree {
  .preview__full {
    left: 37vw;
  }
  .preview__thumb {
    left: 23vw;
    top: 9vh;
  }
  .preview__title {
    left: 11vw;
    top: 53vh;
  }
  .preview__see {
    left: auto;
    right: 3vw;
    top: 35vh;
  }
}

body[data-vertical-scroll] {
  @media (max-width: 1023px) {
    overflow-y: auto;

    .offset {
      display: none;
    }

    .preview {
      height: auto;
      padding: 1.5rem;
    }

    .preview__full {
      position: static;
    }

    .previews {
      display: block;
      height: auto;

      overflow-y: auto;
    }

    .previews .preview + .preview {
      margin-left: 0;
      margin-top: 3.5rem;
    }

    .previews .preview__thumb {
      bottom: 1rem;
      right: 1rem;

      height: 40%;
      width: 40%;

      display: block;
    }

    .previews .preview__title {
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

.previews {
  --grid-offset: 0;
  --grid-gutter: 2rem;
  --grid-height: calc(
    var(--window-height) - var(--logo-size) - var(--grid-gutter)
  );
  // --full-preview-height: calc(var(--window-height) - var(--footer-height));
  --full-preview-height: var(--window-height);
  --big-preview-img-width: 56.25vw;
}

// Globals
.preview__link {
  text-decoration: none !important;
}

.preview__full {
  object-fit: contain;
}

.preview__thumb {
  object-fit: cover;
}

.preview__thumb--black-and-white {
  filter: grayscale(100%);
}

// When the grid is active

.previews[data-grid-status='grid'] #main-content {
  padding-left: var(--grid-offset);
}

.previews[data-display='grid'] {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  height: calc;
  padding: var(--grid-gutter);

  overflow-y: scroll;

  .offset {
    display: none;
  }

  .preview,
  .preview__full,
  .preview__thumb {
    opacity: 1 !important;
    pointer-events: all !important;
    transform: none !important;
  }

  .preview__full,
  .preview__thumb {
    width: 100%;
  }

  .preview__link {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .preview__title {
    grid-column: span 2;
  }

  .preview__see,
  .preview--end {
    display: none;
  }

  .preview__wrapper {
    position: relative;
    padding-top: 100%;
  }

  .preview__wrapper img.preview__full,
  .preview__wrapper img.preview__thumb {
    inset: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

[data-display='full'] {
  .preview {
    position: relative;

    flex: 1 0 100%;
    height: var(--full-preview-height);
    width: 100vw;
  }
  .preview__thumb,
  .preview__full,
  .preview__title,
  .preview__see {
    position: absolute;
  }

  .preview__thumb {
    height: 100%;
    width: 100%;
  }

  .preview__full {
    top: 0;

    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .previews[data-display='full'] {
    .preview + .preview {
      margin-left: 3.5rem;
    }

    .preview__thumb {
      display: none;
    }

    .preview__title {
      left: 10vw;
      top: 6vh;
    }

    .preview__see {
      bottom: 25vh;
      right: 10vw;

      color: var(--color-gray-dark);

      mix-blend-mode: difference;
    }
  }
}

@media (min-width: 1024px) {
  .previews {
    --grid-offset: 15rem;
    --grid-gutter: 4rem;
    // --grid-height: calc(100vh - var(--footer-height));
    --grid-height: var(--window-height);
  }

  [data-display='full'] {
    .offset {
      --offset-width: calc(var(--header-width) / 2);
      position: relative;

      flex: 1 0 var(--offset-width);
      height: 100vh;
      width: var(--offset-width);
    }

    .preview:last-of-type {
      padding-right: 2rem;
    }

    .preview__thumb {
      height: auto;
      width: 20vw;
    }

    .preview__full {
      max-width: var(--big-preview-img-width);
    }

    .preview:nth-child(1n) {
      @include styleOne;
    }
    .preview:nth-child(2n) {
      @include styleTwo;
    }

    .preview:nth-child(3n) {
      @include styleThree;
    }

    .preview.style-1 {
      @include styleOne;
    }
    .preview.style-2 {
      @include styleTwo;
    }
    .preview.style-3 {
      @include styleThree;
    }
  }

  .previews[data-display='grid'] {
    padding: 4rem 4rem 4rem calc(var(--header-width) + 4rem);
  }

  // .preview__full:hover,
  // .preview__thumb:hover {
  //   cursor: url('/see-more.png'), auto;
  // }
}
