@media (min-width: 1024px) {
  .homepage-logo .logo {
    left: var(--x);
    position: absolute;
    top: var(--y);
    z-index: 99;

    margin: 0 auto;
    width: var(--width);

    pointer-events: none;
    will-change: transform;
  }

  .homepage-logo .logo {
    left: 50%;
    top: 50%;

    width: 50vw;

    fill: white;

    opacity: 0.65;
    transform: translate3d(-50%, -50%, 0);
    transition: width 1s ease-in-out, left 1s ease-in-out, top 1s ease-in-out,
      transform 1s ease-in-out;
  }

  .homepage-logo .logo.animate {
    left: var(--x);
    top: var(--y);

    width: var(--width);

    opacity: 0.65;
    transform: translate3d(0, 0, 0);
  }

  .home .header {
    mix-blend-mode: normal;

    color: white;
  }

  .home .header__nav a {
    color: white;
  }
}
