.has-border {
  border: var(--border-size) solid var(--border-color);
}

.has-border--small {
  --border-size: 0.5rem;
}
.has-border--medium {
  --border-size: 1rem;
}
.has-border--large {
  --border-size: 2rem;
}

@media (min-width: 1024px) {
  .has-border--small {
    --border-size: 1rem;
  }
  .has-border--medium {
    --border-size: 2rem;
  }
  .has-border--large {
    --border-size: 3rem;
  }
}
