.content {
  > * + * {
    margin-top: 1rem;
  }

  ul {
    padding-left: 1rem;

    list-style: disc;
  }

  ul > * + * {
    margin-top: 0.5rem;
  }
}

.content::after {
  clear: both;
  content: '';
}
