.has-padding {
  padding-bottom: var(--pbm);
  padding-top: var(--ptm);
  padding-left: var(--plm);
  padding-right: var(--prm);
}

.padded {
  padding-bottom: var(--mbp, 1rem);
  padding-left: var(--mlp, 1rem);
  padding-right: var(--mrp, 1rem);
  padding-top: var(--mtp, 1rem);
}

@media (min-width: 768px) {
  .has-padding {
    padding-bottom: var(--pbt);
    padding-top: var(--ptt);
    padding-left: var(--plt);
    padding-right: var(--prt);
  }
}

@media (min-width: 1024px) {
  .padded {
    padding-bottom: var(--bp);
    padding-left: var(--lp);
    padding-right: var(--rp);
    padding-top: var(--tp);
  }

  .has-padding {
    padding-bottom: var(--pbd);
    padding-top: var(--ptd);
    padding-left: var(--pld);
    padding-right: var(--prd);
  }
}
