.horizontal-page {
  display: flex;
  // height: calc(var(--window-height) - var(--footer-height));
  height: calc(var(--window-height));

  overflow-y: hidden;
}

.horizontal-section {
  flex: 1 0 100%;
}

.vertical-page {
  --padding: 2rem;
  --height: calc(var(--window-height) - var(--header-height));

  height: var(--height);
  max-width: 100em;
  padding: var(--padding);

  overflow-y: auto;
}

.vertical-page--full {
  max-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.vertical-page::-webkit-scrollbar,
.horizontal-page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.vertical-page,
.horizontal-page {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 1024px) {
  .vertical-page {
    --height: 100vh;
    --padding: 4rem 4rem 4rem calc(var(--header-width) + 4rem);
  }

  .horizontal-page--offset::before {
    content: '';
    // padding-left: var(--header-width);
  }
}
