.image-overlay {
  --gutter: 2rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-overlay__image {
  height: auto;
  width: auto;

  max-width: var(--size);
  max-height: 100%;
}

@media (min-width: 1024px) {
  .image-overlay {
    --gutter: 6rem;
  }
}
