.multiple-images {
  display: flex;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.multiple-images__inner {
  position: relative;

  display: grid;
  gap: var(--gap-mobile);

  height: 100%;
  width: 100%;
}

// Image Size Based
// ==================================================================

.multiple-images__picture {
  height: 100%;
}

.multiple-images-picture__img {
  height: 100%;
  width: auto;

  object-fit: cover;
}

// Screen Size Based
// ==================================================================

.multiple-images--screen {
  --size: var(--size-mobile);

  flex: 0 0 var(--size);
  width: var(--size);
}

.multiple-images--screen .multiple-images__picture {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;
}

.multiple-images--screen .multiple-images-picture__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

@media (min-width: 768px) {
  .multiple-images--screen {
    --size: var(--size-tablet);
  }

  .multiple-images__inner {
    gap: var(--gap-tablet);
  }
}

body[data-vertical-scroll] {
  @media (max-width: 1023px) {
    .multiple-images {
      height: auto;
    }

    .multiple-images-picture__img {
      height: auto;
      max-width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .multiple-images--screen {
    --size: var(--size-desktop);
  }

  .multiple-images__inner {
    gap: var(--gap-desktop);
  }
}

@media (max-width: 1023px) {
  .multiple-images {
    height: calc(var(--window-height) - var(--header-height));
  }
}

@media (max-width: 1023px) {
  body[data-vertical-scroll] .multiple-images {
    margin-block: 3.5rem;
    padding: 0;
  }

  body[data-vertical-scroll]
    .multiple-images-inner__column
    + .multiple-images-inner__column {
    margin-top: 1.5rem;
  }
}
