.single-image {
  --size: var(--size-mobile);

  display: flex;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-image__inner {
  position: relative;

  height: 100%;
  width: 100%;
}

// Image Size Based
// ==================================================================

.single-image--image .single-image__picture {
  height: 100%;
}

.single-image--image .single-image-picture__img {
  height: 100%;
  width: auto;

  object-fit: cover;
}

// Browser Width Based
// ==================================================================

.single-image--screen {
  flex: 0 0 var(--size);
  width: var(--size);
}

.single-image--screen .single-image__picture {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;
}

.single-image--screen .single-image-picture__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.single-image--width {
  flex: 0 0 var(--size);
  width: var(--size);
}

.single-image--width .single-image__picture {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;
}

.single-image--width .single-image-picture__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

// Browser Height Based
// ==================================================================

.single-image--height {
  flex: 0 0 auto;
  width: auto;
}

.single-image--height .single-image__picture {
  align-items: center;
  display: flex;

  height: 100%;
}

.single-image--height .single-image-picture__img {
  height: var(--size);
  width: auto;
}

body[data-vertical-scroll] {
  @media (max-width: 1023px) {
    .single-image-picture__img {
      height: auto;
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .single-image {
    --size: var(--size-tablet);
  }
}

@media (min-width: 1024px) {
  .single-image {
    --size: var(--size-desktop);
  }
}

@media (max-width: 1023px) {
  .single-image {
    height: calc(var(--window-height) - var(--header-height));
  }

  body[data-vertical-scroll] .single-image {
    padding: 0;
  }

  body[data-vertical-scroll] .single-image + .single-image,
  body[data-vertical-scroll] .spacer + .single-image {
    margin-top: 3.5rem;
  }
}
