:root.portal-open {
  overflow: hidden;
}

#portal {
  display: none;
}

#portal[aria-hidden="false"] {
  inset: 0;
  position: fixed;
  z-index: 99999999;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;

  background-color: white;
}

#portal-close {
  --size: 2rem;

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 4;

  align-items: center;
  display: flex;
  justify-content: center;
  height: var(--size);
  margin: 0;
  padding: 0;
  width: var(--size);

  color: #333;
  line-height: 1;

  appearance: none;
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
}

#portal-close span {
  position: relative;
  top: 5px;

  align-items: center;
  display: flex;
  height: 1.5rem;

  font-size: 2rem;
}

#portal-inner {
  height: 100%;
  width: 100%;
}
