.credits-inner {
  position: sticky;
  top: 0;

  padding: 20vh 1rem 0;
}

.credits__back-button {
  position: absolute;
  top: 5vh;
}

.credits-back-button__link {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 3rem;
  width: 3rem;

  border: 4px solid #111;
  border-radius: 50%;

  transition: background-color 200ms ease-in-out;
}

@media (hover: hover) {
  .credits-back-button__link:hover {
    color: #fff;

    background-color: #111;
  }
}

.credits-back-button__icon {
  height: 1.25rem;

  fill: currentColor;

  transition: fill 200ms ease-in-out;
}
