.lightbox-control {
  margin: 0;
  height: 3rem;
  padding: 0;
  width: 3rem;

  align-items: center;
  display: flex;
  justify-content: center;

  appearance: none;
  background: transparent;
  border: 4px solid #111;
  border-radius: 50%;
  cursor: pointer;

  transition: background 200ms ease-in-out;
}

.lightbox-control:is(:hover, :focus) {
  background: #111;

  color: white;
}

.lightbox-control__icon {
  height: 1rem;

  fill: currentColor;

  transition: fill 200ms ease-in-out;
}

.lightbox-controls {
  display: flex;
  gap: 2rem;
}

.lightbox-credits {
  top: 50%;
  position: absolute;
  right: 0;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background: rgba(255, 255, 255, 0.75);
  transform: translateY(-50%);
}

.lightbox-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.lightbox-image-wrapper {
  position: relative;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

[data-lightbox-image] {
  cursor: pointer;
}
