@import "./global/index";
@import "./legacy/index";

@media (max-width: 1023px) {
  body[data-vertical-scroll] .multiple-images-picture__img {
    margin-inline: auto;
  }

  .homepage-logo {
    display: none;
  }
}

a:not(.wp-element-button) {
  text-decoration: none;
}
